@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
@import '~tailwindcss/variants';

@import 'overrides/scrollbar';
@import 'overrides/google-custom-search';

body {
	@apply bg-bg text-fg;
	@apply transition-[background-color];

	// Desktop UI
	@screen sm {
		background-attachment: scroll;
		background-position: top left;
		background-size: auto;
		background-image: var(--bg-image);
	}

	&.light {
		--primary: #f50514;
		--bg: #faf9ff; // surface
		--bg-variant: rgb(222, 226, 242, 0.25); // surfaceVariant translucent
		--fg: #181b25; // onSurface
		--fg-variant: #424754; // onSurfaceVariant
		--positive: #3b6939; // positive
		--warning: #855318; // warn
		--error: #b3261e; // error
		--hover: rgb(24, 27, 37, 0.08); // fg translucent
		--border: #dee2f2; // outlineVariant
		--overlay: rgb(250, 249, 255, 0.75); // bg translucent

		--bg-image: url('/img/bg/overlay.png?v=1');

		// https://caniuse.com/mdn-html_elements_meta_name_color-scheme
		color-scheme: light;
	}

	&.dark {
		--primary: #ff3d39;
		--bg: #0f131c;
		--bg-variant: rgb(66, 71, 84, 0.25);
		--fg: #dfe2ef;
		--fg-variant: #c2c6d6;
		--positive: #a1d39a;
		--warning: #fdb975;
		--error: #f2b8b5;
		--hover: rgb(223, 226, 239, 0.08);
		--border: #424754;
		--overlay: rgb(15, 19, 28, 0.75);

		--bg-image: url('/img/bg/overlay.png?v=1');

		// https://caniuse.com/mdn-html_elements_meta_name_color-scheme
		color-scheme: dark;
	}
}

pre {
	@apply p-2 leading-6;
	@apply bg-hover rounded;
}

a.external::after {
	content: '\a0\2197'; // &nbsp;↗
	opacity: 0.75;
}

code {
	&::before,
	&::after {
		content: '`';
		opacity: 0.75;
	}
}

#__next {
	@apply absolute;
	@apply top-16; // to separate toolbar and main
	@apply left-0 right-0 bottom-0;
	@apply flex flex-col;
}

#nav {
	@apply fixed w-full;
	@apply top-0 z-50;
}

#nav,
.links.active {
	@apply bg-bg;
	@apply border-b border-border;
	@apply transition-[background-color];

	// Desktop UI
	@screen sm {
		background-attachment: fixed;
		background-position: top left;
		background-size: auto;

		// Make nav's background the same as body, so that it appears seamless
		background-image: var(--bg-image);
	}
}

.links.active {
	@apply border-t;
}

// Desktop UI
@media (min-width: 426px) {
	.btn.play-store > span {
		display: inline;
	}
}
