@use "sass:map";

// To reduce text busyness, line-height (LH) should follow font-size (FS):
$fontSizeToLineHeight: (
	14px: 24px,
	16px: 28px,
	18px: 32px,
	20px: 36px,
	24px: 40px,
);

.host {
	max-width: 96ch;
	@apply block;
	@apply mx-auto -my-4;

	> article {
		@apply -mx-4;

		// Background image
		> div:first-child {
			@apply bg-center bg-cover;

			> header {
				@apply overlay p-6;

				// Title
				> h1 {
					@apply mb-2;
					@apply text-lg #{'sm:text-xl'} #{'md:text-2xl'} #{'lg:text-3xl'} #{'xl:text-4xl'};

					// Subtitle
					+ div {
						@apply mb-4;
						@apply text-fg-variant text-sm #{'sm:text-base'} #{'lg:text-lg'} #{'xl:text-xl'};
					}
				}

				// Author, timestamps, share links
				> div:last-child {
					@apply flex flex-wrap gap-y-2 items-center;

					> button {
						@apply -ml-3;
					}

					small > time {
						&:first-of-type {
							&::before {
								content: 'published\a0';
							}

							&::after {
								content: '\a0•\a0';
							}
						}

						&:last-of-type::before {
							content: 'edited\a0';
						}

						// Mobile UI
						@media(max-width: 339px) {
							&:first-of-type {
								display: none;
							}
						}
					}

					> div:last-child {
						@apply flex flex-grow #{'sm:flex-initial'} justify-between;
						@apply -ml-3;
					}
				}
			}
		}

		> section:last-child {
			@apply px-4 pt-4;

			// Draft spec. At the time of writing, implemented only in Firefox.
			// See https://caniuse.com/mdn-css_properties_scrollbar-width and https://caniuse.com/mdn-css_properties_scrollbar-color
			scrollbar-width: thin;

			// Not `scroll` because Firefox is stupid and shows the scroll track even
			// when there's nothing to scroll.
			overflow-x: auto;
			// Only supported in Chromium browsers. See https://caniuse.com/css-overflow-overlay.
			overflow-x: overlay !important;

			> {

				p > {

					img,
					video {
						@apply inline-block;
					}
				}

				blockquote,
				p,
				ol,
				ul {
					// 14px because that's `.typography`'s font-size
					line-height: map.get($fontSizeToLineHeight, 14px);
				}

				ol,
				ul {

					ol,
					ul {
						// List-within-list shouldn't leave extra space at the bottom
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.notice {
	@apply flex items-center;
	@apply px-6 pt-4;
	@apply text-amber-700;

	> button {
		@apply -ml-4;
		@apply cursor-default;
		@apply border-0 #{'hover:bg-transparent'};
	}
}
