.host {
	// Device group
	> div {
		// This doesn't apply the overridden class defined in scrollbar.scss,
		// so we have to duplicate the styles here.
		// @apply overflow-x-auto; // horizontally scrollable
		scrollbar-color: var(--border) transparent;
		scrollbar-width: thin;
		overflow-x: auto;
		overflow-x: overlay !important;

		& + div {
			@apply border-t border-hover;
			@apply pt-4;
		}
	}

	> div > div {
		@apply grid grid-flow-col gap-4 items-center;

		// Each cell is at least 215px wide, which comfortably fits the longest device name — "OnePlus Nord CE 4 Lite".
		grid-auto-columns: 215px;

		// Device name
		> h2 {
			@apply mb-0;
		}

		// Row cells
		> div {
			@apply py-4;
		}

		// Update method
		> strong:first-child {
			@apply ps-4; // indent
		}

		// Version data
		> strong ~ div {
			@apply font-mono;
		}

		small {
			@apply text-fg-variant;
		}

		div.\!hidden + hr {
			@apply hidden;
		}
	}
}
